<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>
    <link href="/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container" style="margin-left: 20px;">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">API Tester</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li {% if Active == '4square' %} class="active" {% endif %}><a href="/apitest/Foursquare">Foursquare</a></li>
                    <li {% if Active == 'Facebook' %} class="active" {% endif %}><a href="/apitest/Facebook">Facebook</a></li>
                    <li {% if Active == 'Vkontakte' %} class="active" {% endif %}><a href="/apitest/Vkontakte">Vkontakte</a></li>
                </ul>
            </div><!-- /.nav-collapse -->
        </div><!-- /.container -->
    </div><!-- /.navbar-inner -->
</div><br /><br />

    {% block baseContent %}{% endblock %}

    <script src="http://twitter.github.com/bootstrap/assets/js/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
