{% set Active= 'Vkontakte' %}

{% extends '/Application/View/Shared/_Layout.html' %}

{% block title %}Vkontakte api{% endblock %}

{% block baseContent %}
<div class="span10">

    <h3>Vkontakte <a href="http://vk.com/developers.php?oid=-1&p=%D0%9E%D0%BF%D0%B8%D1%81%D0%B0%D0%BD%D0%B8%D0%B5_%D0%BC%D0%B5%D1%82%D0%BE%D0%B4%D0%BE%D0%B2_API">API</a></h3>

    <form method="get" action="/apitest/Vkontakte/ShowQuery" class="form-inline">
        <input class="span4" name="method" type="text" placeholder="Method" value="{{ view.Data.method }}" />
        <input class="span4" name="params" type="text" placeholder="Parameters (in JSON)" value="{{ view.Data.params }}" />
        <input class="btn" style="margin-top: 0;" type="submit" value="Show">
    </form>

    <pre>{{ Model }}</pre>
</div>
{% endblock %}