{% set Active= '4square' %}

{% extends '/Application/View/Shared/_Layout.html' %}

{% block title %}4square api{% endblock %}

{% block baseContent %}
    <div class="span10">

        <h3>Foursquare <a href="https://developer.foursquare.com/docs/">API</a> <small>{% if not view.Data.token %}<a href="{{ view.Data['link'] }}">Get token</a> {% else %}oauth_token: {{ view.Data.token }} {% endif %}</small></h3>

        <form method="get" action="/apitest/Foursquare/ShowQuery" class="form-inline">
            <input class="span4" name="method" type="text" placeholder="Method" value="{{ view.Data.method }}" />
            <input class="span4" name="params" type="text" placeholder="Parameters (in JSON)" value="{{ view.Data.params }}" />
            <input class="btn" style="margin-top: 0;" type="submit" value="Show">
        </form>

        <pre>{{ Model }}</pre>
    </div>
{% endblock %}