{% set Active= 'Facebook' %}

{% extends '/Application/View/Shared/_Layout.html' %}

{% block title %}Show facebook fql query result{% endblock %}

{% block baseContent %}
<div class="span10">

    <h3>Facebook <a href="http://developers.facebook.com/docs/reference/fql/">FQL</a></h3>

    <form method="get" action="/apitest/Facebook/ShowQuery">
        <div class="input-append">
            <input class="span9" placeholder="FQL Query" name="fql" type="text" value="{{ view.Data.query }}" />
            <input class="btn" type="submit" value="Show" />
        </div>
    </form>

    <pre>{{ Model }}</pre>
</div>
{% endblock %}